<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Google Gruyere - Spring-Boot using Gradle</title>
    <script src="/lib.js" text="text/javascript" />
    <link href="base.css" rel="stylesheet" />
</head>
<body>
	<div th:include="menubar :: menubar"></div>
	<div>
		<div class='has-refresh'><h2>Gruyere - Home</h2><small><i>kindly migrated to Spring Boot and Gradle</i></small></div>
		
		<div class='refresh'><a class='button' onclick='_refreshHome()' href='#'>Refresh</a></div>
	</div>
<p th:text="${snippets}"></p>

<div class='content'>
<table width='100%'>
  <tr th:if="${activeUser.privateSnippet}">
    <td></td>
    <td>
      Private&nbsp;snippet&nbsp;
    </td>
    <td>
      <a class='button' id='show' onclick='_showHide("show", "hide")' href='#'>Show &#9658;</a>
      <span id='hide' style='display: none;'>
      <a class='button' onclick='_showHide("show", "hide")' href='#'>Hide &#9668;</a> &nbsp;
      <span id='private_snippet' th:text="${activeUser.privateSnippet}"></span></span>
    </td>
  </tr>
  <tr><td colspan='3'></td></tr>
  <tr><td colspan='3'><b>Most recent snippets:</b></td></tr>
  <tr th:each="snippet : ${snippets}">
    <td>
     <img alt='' height='32' width='32' th:src="${snippet.userProfile.icon}" />
    </td>
    <td>
      <b><span th:style="'color: ' + ${snippet.userProfile.color} + ';'" th:text="${snippet.userProfile.name}"></span></b>
    </td>
    <td width='100%'><span th:id="${snippet.id}" th:text="${snippet.text}"></span>
    <br />
          <a th:href="@{'/snippets?uid=' + ${snippet.userProfile.id}}">Snippets of user</a>&nbsp;
      <a href='{{web_site:text}}'>Homepage</a>
    <br />
    <br /> 
    </td>
  </tr>
</table>
</div>

</body>
</html>