<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Unsecure Spring-Boot App using Gradle</title>
    <script src="/js/lib.js" text="text/javascript" />
    <link href="/css/base.css" rel="stylesheet" />
</head>
<body>
	<div th:include="menubar :: menubar"></div>
	<div>
		<div class='has-refresh' id='headline'><h2>Unsecure App</h2><small><i>kindly migrated to Spring Boot and Gradle</i></small></div>
		<br />
	</div>
	<div class='content'>
		<table>
		<tr></tr>
		  <tr><b>All snippets:</b></tr>
		  <tr></tr>
		  <tr th:if="${activeUser != null and activeUser.privateSnippet != null}">
		    <td colspan="3" class="private">
		    	<span>Private&nbsp;snippet&nbsp;</span>
		      <a class='button' id='show' onclick="_showHide('show', 'hide')" href='#'>Show &#9658;</a>
		      <span id='hide' style='display: none;'>
		      <a class='button' onclick="_showHide('show', 'hide')" href='#'>Hide &#9668;</a> &nbsp;
		      <span id='private_snippet' th:utext="${activeUser.privateSnippet}"></span></span>
		    </td>
		  </tr>
		  <tr><td></td></tr>
		  <tr th:each="snippet : ${snippets}">
		    <td>
		     <img alt=''  height='45' width='45' th:src="'/images/' + ${snippet.user.icon}" />
		    </td>
		    <td>
		      <b><span th:style="'color: ' + ${snippet.user.color} + ';'" th:utext="${snippet.user.name}"></span></b>
		    </td>
		    <td class='snippet' ><span th:id="${snippet.id}" th:utext="${snippet.text}"></span>
		    <br />
		      <a th:href="@{${snippet.user.website}}">Homepage</a>
		    <br />
		    <br /> 
		    </td>
		  </tr>
		</table>
	</div>
</body>
</html>