<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="menubar">	
		<div class='menu'>
		  <span id='menu-left'>
		    <a th:href="@{/}">Home</a>
		      <span th:if="${activeUser} != null">
		      	| <a th:href="@{/snippet/new-snippet}">New&nbsp;snippet</a>
		      	| <a th:href="@{/upload}">Upload file</a>
		      </span>
		  </span>
		  <span id='menu-right'>
		      <span th:if="${activeUser} != null">
		      	<span class='menu-user'>
		        	<span th:text="${activeUser.name}"></span>
		      	</span>
		      	| <a th:href="@{/edit-account}">Edit profile</a>
		      	| <a th:href="@{/logout}">Sign out</a>
		      </span>
		      
		      <span th:if="${activeUser} == null">
		      	<a th:href="@{/login}">Sign in</a>
		      	| <a th:href="@{/new-account}">Sign up</a>
		      </span>
		  </span>
		</div>	
	</div>
</body>
</html>