<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>File upload</title>
<script th:src="@{/js/lib.js}" text="text/javascript" />
<link th:href="@{/css/base.css}" rel="stylesheet" />

</head>
<body>
	<div th:include="menubar :: menubar"></div>

	<div  class='has-refresh' id='headline'>
		<h2>Upload complete</h2>
		<br />
	</div>

	<div class='content'>
		<b> File uploaded!<br /><br /> File accessible at:
		</b> <span th:text="${filename}"></span>
		<br /><br />
	</div>

</body>
</html>